nav .logo-and-name {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    justify-content: center;
}

nav .logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1em;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    width: 33.333%;
    text-align: center;
}

nav a {
    display: block;
    padding: 8px;
    margin: 1px;
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    transition: background-color 0.4s ease;
    background-color: var(--medium-light);
}

nav a:hover {
    background-color: var(--medium-dark);
    color: var(--light);
}